# Import

In [72]:
import os
import sys
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings;warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

In [73]:
# set seed for reproducibility
np.random.seed(0)

# Data load

In [74]:
data = pd.read_csv('../data/train.csv', index_col="id")
data.head()

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s53,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
id,,,,,,,,,,,,,,,,,,,,,
b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76be71PWA2ReUc4HUQn16Fya1z8_VStNnFGaXJF262CgsuMPzOaknSeg==',M,Y,N,1,D,D,B,0,1,,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8FvkVcSUl2AquMfWqtOqs3AQYGxS13wQv9Tx4GEkPEl5RnbchazqsZcw==',M,Y,Y,1,D,D,B,1,1,,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS9EYdw6Wo8Y5agbzfD6hhsaXZCBdrUQVPpZBXYsODc2PDjER2DX5QcA==',M,Y,Y,1,D,D,B,0,1,,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbisuGUmadvbBh5W28jivd2vgGUWVfHtMdC6vNLrDyFM5NgzILAOorgWGA==',F,Y,Y,1,D,D,B,0,1,,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SVbyppsCh4sW4X5QGqFrLNAcfMQ4NPHOLqbNUVKU-5xxvWCwb5tT91Pw==',M,N,Y,1,B,D,D,1,l,,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

# Spliting data into training and validation

In [75]:
y = data.label
X = data.drop(['label'], axis=1)

In [76]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

# Removing missing values

In [77]:
# drop cloumn from train and validation datasets if all the value is NaN
X_train.dropna(axis=1, how='all', inplace=True)
X_valid.dropna(axis=1, how='all', inplace=True)

In [78]:
X_train.drop(["s54", "s55"], axis=1, inplace=True)
X_valid.drop(["s54", "s55"], axis=1, inplace=True)

In [79]:
# find any ferther missing values
train_missing = X_train.isnull().sum()
valid_missing = X_valid.isnull().sum()
print("Missing from train dataset:", train_missing)
print("\n\nMissing from valid dataset:", valid_missing)

Missing from train dataset: gender    0
s11       0
s12       0
s13       0
s16       0
s17       0
s18       0
s48       0
s52       0
s53       0
s58       0
s69       0
s70       0
s71       0
n1        0
n2        0
n3        0
n4        0
n5        0
n6        0
n7        0
n8        0
n9        0
n10       0
n11       0
n12       0
n13       0
n14       0
n15       0
dtype: int64


Missing from valid dataset: gender    0
s11       0
s12       0
s13       0
s16       0
s17       0
s18       0
s48       0
s52       0
s53       0
s58       0
s69       0
s70       0
s71       0
n1        0
n2        0
n3        0
n4        0
n5        0
n6        0
n7        0
n8        0
n9        0
n10       0
n11       0
n12       0
n13       0
n14       0
n15       0
dtype: int64

# Divide catagorical and non-catagorical data

In [80]:
# categorical cols from train datasets
obj_train = (X_train.dtypes == 'object')
obj_train_cols = list(obj_train[obj_train].index)

print("Training - Categorical cols:\n", obj_train_cols)

obj_valid = (X_valid.dtypes == 'object')
obj_valid_cols = list(obj_valid[obj_valid].index)

print("\n\nValidation - Categorical cols:\n", obj_valid_cols)

Training - Categorical cols:
 ['gender', 's11', 's12', 's16', 's17', 's18', 's52', 's53', 's58', 's69', 's70', 's71']


Validation - Categorical cols:
 ['gender', 's11', 's12', 's16', 's17', 's18', 's52', 's53', 's58', 's69', 's70', 's71']

In [81]:
# non categorical cols from train datasets
non_obj_train = (X_train.dtypes != 'object')
non_obj_train_cols = list(non_obj_train[non_obj_train].index)

print("Training - non Categorical cols:\n", non_obj_train_cols)

non_obj_valid = (X_valid.dtypes != 'object')
non_obj_valid_cols = list(non_obj_valid[non_obj_valid].index)

print("\n\nValidation - non Categorical cols:\n", non_obj_valid_cols)

Training - non Categorical cols:
 ['s13', 's48', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15']


Validation - non Categorical cols:
 ['s13', 's48', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15']

# Catagorical data

In [82]:
# Apply ordinal encoder to each column with categorical data

from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()

In [83]:
X_train[obj_train_cols] = ordinal_encoder.fit_transform(X_train[obj_train_cols])
X_valid[obj_valid_cols] = ordinal_encoder.transform(X_valid[obj_valid_cols])

# Model

In [84]:
from sklearn.ensemble import RandomForestClassifier

forest_model = RandomForestClassifier(random_state=0)
forest_model.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [85]:
y_pred = forest_model.predict(X_valid)

In [86]:
from sklearn.metrics import accuracy_score
accuracy_score(y_valid, y_pred)

0.8781994704324801

# Test dataset encoding

In [87]:
X_test = pd.read_csv('../data/test.csv', index_col="id")
X_test.head()

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s53,...,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15
id,,,,,,,,,,,,,,,,,,,,,
b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COxmIbpwlUAZ7GnDoMpAhQ_xGA87VuCUtSNnk-E_-PkolKMlmcNtPAzMA==',M,Y,Y,1,B,D,D,0,l,,...,0.026301,-9.200175,2.122970,6.646617,4.801224,1.693087,0,0,0.439270,2
b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsnAmJFQuFmAHCjbjJeEE6aJUlVmJA02kuW14lK9HeBJdmqXUVnFsmALA==',M,Y,Y,1,B,C,B,1,l,,...,0.010774,-8.897092,1.770889,11.046294,6.407230,1.516728,0,0,0.084334,4
b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5W5pKRvJnWatZLzzTcvLbVcRfyHw2UOQKvzKi7iToOaGVGh-uYoFWOA==',M,Y,N,1,B,D,B,1,l,,...,0.016837,-9.173660,1.871872,2.805834,5.481219,1.788823,0,0,0.984210,0
b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPiP5-aXIkXpJO0X4lXqQxprpGyYyQSiqmWJrMwSN7O556m3PvcA9fINw==',M,Y,Y,1,D,D,B,0,1,,...,0.015684,-9.178200,1.675028,6.354938,5.427266,1.792147,0,0,0.003492,1
b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7EpiiKe06Ly0_UuyQcSeti8CqYGO7rlOhkNJlEZxc_wzwgALgWJ61FeA==',M,Y,Y,1,D,C,B,1,1,,...,0.006406,-8.726633,1.963535,6.810158,11.487845,1.880992,0,0,0.060614,0

In [88]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85065 entries, b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COxmIbpwlUAZ7GnDoMpAhQ_xGA87VuCUtSNnk-E_-PkolKMlmcNtPAzMA==' to b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa4ybRyBq3uDzTJVKrJfS7DzU2nqAT06tveVEl23nycx348dbcJqdryA=='
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  85065 non-null  object
 1   s11     85065 non-null  object
 2   s12     85065 non-null  object
 3   s13     85065 non-null  int64
 4   s16     85065 non-null  object
 5   s17     85065 non-null  object
 6   s18     85065 non-null  object
 7   s48     85065 non-null  int64
 8   s52     85065 non-null  object
 9   s53     85065 non-null  object
 10  s54     7743 non-null   object
 11  s55     9421 non-null   object
 12  s56     0 non-null      float64
 13  s57     0 non-null      float64
 14  s58     85065 non-null  object
 15  s59     0 non-null      float64
 16  s69     85065 non-null  object
 17  s70     85065 non-null  object
 18  s71     85065 non-null  object
 19  n1      85065 non-null  float64
 20  n2      85065 non-null  float64
 21  n3      85065 non-null  int64
 22  n4      85065 non-null  float64
 23  n5      85065 non-null  float64
 24  n6      85065 non-null  float64
 25  n7      85065 non-null  float64
 26  n8      85065 non-null  float64
 27  n9      85065 non-null  float64
 28  n10     85065 non-null  float64
 29  n11     85065 non-null  float64
 30  n12     85065 non-null  int64
 31  n13     85065 non-null  int64
 32  n14     85065 non-null  float64
 33  n15     85065 non-null  int64
dtypes: float64(14), int64(6), object(14)
memory usage: 22.7+ MB

In [89]:
X_test.dropna(axis=1, how='all', inplace=True)

In [90]:
X_test.drop(["s54", "s55"], axis=1, inplace=True)

In [91]:
# find any ferther missing values
test_missing = X_test.isnull().sum()
print("Missing from train dataset:", test_missing)

Missing from train dataset: gender    0
s11       0
s12       0
s13       0
s16       0
s17       0
s18       0
s48       0
s52       0
s53       0
s58       0
s69       0
s70       0
s71       0
n1        0
n2        0
n3        0
n4        0
n5        0
n6        0
n7        0
n8        0
n9        0
n10       0
n11       0
n12       0
n13       0
n14       0
n15       0
dtype: int64

In [92]:
# categorical cols from test datasets
obj_test = (X_test.dtypes == 'object')
obj_test_cols = list(obj_test[obj_test].index)

print("Training - Categorical cols:\n", obj_test_cols)

Training - Categorical cols:
 ['gender', 's11', 's12', 's16', 's17', 's18', 's52', 's53', 's58', 's69', 's70', 's71']

In [93]:
X_test[obj_test_cols] = ordinal_encoder.fit_transform(X_test[obj_test_cols])

In [94]:
X_test.head()

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s53,...,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15
id,,,,,,,,,,,,,,,,,,,,,
b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COxmIbpwlUAZ7GnDoMpAhQ_xGA87VuCUtSNnk-E_-PkolKMlmcNtPAzMA==',1.0,1.0,1.0,1,1.0,3.0,3.0,0,2.0,1.0,...,0.026301,-9.200175,2.122970,6.646617,4.801224,1.693087,0,0,0.439270,2
b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsnAmJFQuFmAHCjbjJeEE6aJUlVmJA02kuW14lK9HeBJdmqXUVnFsmALA==',1.0,1.0,1.0,1,1.0,2.0,1.0,1,2.0,1.0,...,0.010774,-8.897092,1.770889,11.046294,6.407230,1.516728,0,0,0.084334,4
b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5W5pKRvJnWatZLzzTcvLbVcRfyHw2UOQKvzKi7iToOaGVGh-uYoFWOA==',1.0,1.0,0.0,1,1.0,3.0,1.0,1,2.0,1.0,...,0.016837,-9.173660,1.871872,2.805834,5.481219,1.788823,0,0,0.984210,0
b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPiP5-aXIkXpJO0X4lXqQxprpGyYyQSiqmWJrMwSN7O556m3PvcA9fINw==',1.0,1.0,1.0,1,3.0,3.0,1.0,0,1.0,1.0,...,0.015684,-9.178200,1.675028,6.354938,5.427266,1.792147,0,0,0.003492,1
b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7EpiiKe06Ly0_UuyQcSeti8CqYGO7rlOhkNJlEZxc_wzwgALgWJ61FeA==',1.0,1.0,1.0,1,3.0,2.0,1.0,1,1.0,1.0,...,0.006406,-8.726633,1.963535,6.810158,11.487845,1.880992,0,0,0.060614,0

In [95]:
y_pred_ans = forest_model.predict(X_test)

In [97]:
output = pd.DataFrame({'id': X_test.index, 'label': y_pred_ans})

In [98]:
output

                                                      id  label
0      b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...      1
1      b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...      0
2      b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...      1
3      b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...      0
4      b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...      0
...                                                  ...    ...
85060  b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...      0
85061  b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...      1
85062  b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...      0
85063  b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...      1
85064  b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...      0

[85065 rows x 2 columns]

In [100]:
output.to_csv('submission.csv', index = False, encoding='utf-8')