In [81]:
import os
import sys
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings;warnings.filterwarnings('ignore')

In [82]:
# set seed for reproducibility
np.random.seed(0)

In [83]:
train = pd.read_csv('../data/train.csv')
test_data = pd.read_csv('../data/test.csv')

In [84]:
df = pd.concat([train, test_data])
df['id'] = df['id'].astype('string')
df.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0.0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1.0
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0.0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0.0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0.0

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113387 entries, 0 to 85064
Data columns (total 36 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      113387 non-null  string
 1   gender  113387 non-null  object
 2   s11     113387 non-null  object
 3   s12     113387 non-null  object
 4   s13     113387 non-null  int64
 5   s16     113387 non-null  object
 6   s17     113387 non-null  object
 7   s18     113387 non-null  object
 8   s48     113387 non-null  int64
 9   s52     113387 non-null  object
 10  s53     113387 non-null  object
 11  s54     10371 non-null   object
 12  s55     12627 non-null   object
 13  s56     0 non-null       float64
 14  s57     0 non-null       float64
 15  s58     113387 non-null  object
 16  s59     0 non-null       float64
 17  s69     113387 non-null  object
 18  s70     113387 non-null  object
 19  s71     113387 non-null  object
 20  n1      113387 non-null  float64
 21  n2      113387 non-null  float64
 22  n3      113387 non-null  int64
 23  n4      113387 non-null  float64
 24  n5      113387 non-null  float64
 25  n6      113387 non-null  float64
 26  n7      113387 non-null  float64
 27  n8      113387 non-null  float64
 28  n9      113387 non-null  float64
 29  n10     113387 non-null  float64
 30  n11     113387 non-null  float64
 31  n12     113387 non-null  int64
 32  n13     113387 non-null  int64
 33  n14     113387 non-null  float64
 34  n15     113387 non-null  int64
 35  label   28322 non-null   float64
dtypes: float64(15), int64(6), object(14), string(1)
memory usage: 32.0+ MB

In [86]:
df.isnull().sum()

id             0
gender         0
s11            0
s12            0
s13            0
s16            0
s17            0
s18            0
s48            0
s52            0
s53            0
s54       103016
s55       100760
s56       113387
s57       113387
s58            0
s59       113387
s69            0
s70            0
s71            0
n1             0
n2             0
n3             0
n4             0
n5             0
n6             0
n7             0
n8             0
n9             0
n10            0
n11            0
n12            0
n13            0
n14            0
n15            0
label      85065
dtype: int64

In [87]:
df.drop(['s54', 's55', 's56', 's57', 's59'], axis=1, inplace=True)
# def impute_nan_create_category(df, col):
#      df[col] = np.where(df[col].isnull(),"Unknown",df[col])
# for col in ['s54', 's55', 's56', 's57', 's59']:
#     impute_nan_create_category(df, col)

In [88]:
df.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0.0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1.0
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0.0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0.0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0.0

In [89]:
features = df.select_dtypes('number').columns

cat_features = df.select_dtypes('object').columns

In [90]:
features

Index(['s13', 's48', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9',
       'n10', 'n11', 'n12', 'n13', 'n14', 'n15', 'label'],
      dtype='object')

In [91]:
df.shape

(113387, 31)

In [92]:
for i in cat_features:
    features = features.insert(0, i)

In [93]:
missing_val_count_by_column = (df[features].isnull().sum())
print('Missing numerical features:')
print(missing_val_count_by_column[missing_val_count_by_column > 0])

missing_val_count_by_column = (df[cat_features].isnull().sum())
print('Missing categorical features:')
print(missing_val_count_by_column[missing_val_count_by_column > 0])

Missing numerical features:
label    85065
dtype: int64
Missing categorical features:
Series([], dtype: int64)

In [94]:
df = pd.get_dummies(df[features], cat_features, 'catf', drop_first=True)

In [95]:
missing_val_count_by_column = (df.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

label    85065
dtype: int64

In [96]:
dtrain = df[df['label'].notna()]
dtest = df[df['label'].isna()]

In [97]:
y = dtrain['label']

train = dtrain.drop('label', axis=1)
test = dtest.drop('label', axis=1)

In [98]:
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import make_scorer
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix

In [99]:
scaler = StandardScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

In [100]:
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.25, random_state=10)

In [101]:
mod = XGBClassifier(learning_rate=0.1, gamma=0, max_depth=5, min_child_weight=1,n_estimators=1000,
            subsample=0.8,colsample_bytree=0.8, objective='binary:logistic', nthread=6,scale_pos_weight=1, seed=27)

In [102]:
mod.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.8,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.1, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=5, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=1000,
              n_jobs=6, nthread=6, num_parallel_tree=1, predictor='auto',
              random_state=27, reg_alpha=0, ...)

In [103]:
#get cross validation score of model
score = cross_val_score(mod, X_train, y_train, cv=5)
print("Mean cross-validation score: %.2f" % score.mean())

kfold = KFold(n_splits=10, shuffle=True)
kf_cv_scores = cross_val_score(mod, X_train, y_train, cv=kfold)
print("K-fold CV average score: %.2f" % kf_cv_scores.mean())

Mean cross-validation score: 0.87
K-fold CV average score: 0.87

In [104]:
from sklearn.metrics import classification_report

In [105]:
pred = mod.predict(X_test)

In [106]:
X = np.concatenate((X_train, X_test), axis=0)
y = np.concatenate((y_train, y_test), axis=0)

In [107]:
X.shape

(28322, 43)

In [108]:
# xgb = XGBClassifier(learning_rate=0.1)
mod.fit(X, y)

a_score = cross_val_score(mod, X, y, cv=5)
print("Mean cross-validation score: %.2f" % a_score.mean())

Mean cross-validation score: 0.87

In [110]:
predictions = mod.predict(test)

In [111]:
output = pd.DataFrame({'id': test_data.id, 'label': predictions})
output.to_csv('submission.csv', index=False)